html,
body{
  height: 100%;
}
body{
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  font-size: 36px;
  line-height: 54px;
  @extend %dmsans-700;
  color: #191919;
}

.btn{  
  font-size: 15px;
  line-height: 12px;
  @extend %rubik-500;
  position: relative;
  &::after{
    position: absolute;
    right: 17px;
    top: 27px;
  } 
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  position: relative;  
  &__list{
    display: flex;
  }
  &__item{
    color: #727272;
    padding-right: 20px;
    position: relative;
    &::after{
      content: "/";
      position: absolute;      
      right: 7px;
      top: 1px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}

.pagination-blog,
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 15px;
  font-size: 16px;
  line-height: 1;
  color: $default;
  @extend %rubik-500;
  &__link{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;       
  }    
  &__next{
    padding: 16px 18px;      
  } 
  &__link,
  &__next{
    height: 50px;
    border: 1px solid $btn;
    color: $title; 
    transition: all .3s;
    &:hover{
      color: #fff;
      background-color: $btn;
    }
  } 
  &__list{
    display: flex;
  }   
  .pagination__list{
    padding-right: 8px;
  }
  &__item{
    padding: 0 8px;
  }
  &__link--active{
    color: #fff;
    background-color: $btn;
  }
  
}



.page-404{
  padding: 50px 0;  
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content{
    padding-top: 20px;
    max-width: 450px;
    margin-right: 30px;
  }
  &__title{
    font-size: 36px;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 22px;
    margin-bottom: 30px;
  }
  &__img{
    max-width: 640px;
    object-fit: cover;
  }
  &__link{
    display: inline-block;
    color: $btn;
    border: 1px solid $btn;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    background-color: #fff;    
    padding: 20px;
    transition: all .3s;    
    &:hover{
      background-color: #edf1f4;    
    }
  }
}

