@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.products{
  padding: 115px 0 100px;
  &__inner{
    display: flex;
  }
}

.filter{  
    max-width: 270px;
    width: 100%;
  &__item{
    margin-bottom: 65px;
  }  
  &__title{
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
    padding-right: 50px;
    margin-bottom: 27px;
    @extend %dmsans-700;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      background-image: url('../images/icons/filter-line.svg');
      width: 38px;
      height: 2px;
      top: 12px;
      right: 0;
    }
  }
}

.select-style{
  display: block;
  padding: 5px; 
  margin-bottom: 5px;  
  &:hover{
    background: #edf1f4;
    border-radius: 5px;
  }
}
.jq-selectbox__select {
  height: 32px;
  padding: 7px 40px 5px 10px;
  border: none;    
  border-radius: 4px;
  background: transparent;
  box-shadow: none;
  color: #415965;
  text-shadow: none;
   @extend %dmsans-700;
  &:hover{
    background: transparent;
  }   
}
.jq-selectbox.opened{
  .jq-selectbox__trigger-arrow {
    &::after{
      transform: rotate(90deg);    
    }  
  }  
}

.jq-selectbox__trigger {  
  border-left: none;
}
.jq-selectbox__trigger-arrow {
  border-top: 5px solid transparent;
  &::after{
    position: absolute;
    content: '';
    top: 9px;
    right: 5px;
    width: 5px;
    height: 10px;
    background-image: url('../images/icons/arrows-product.svg');
    background-repeat: no-repeat;
    background-size: cover;    
  }  
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
   border-top-color: transparent;
}
.jq-selectbox li{
  color: #243f4d;
  margin: 0;
  padding: 10px 0 10px 10px;
  &:hover{
    border: 1px solid $btn;
    border-radius: 5px;
    background-color: #fbfbfb;
  }
}
.jq-selectbox li + .jq-selectbox li{
  margin-bottom: 25px;
}
.jq-selectbox.focused .jq-selectbox__select{
  border: none;
}
.jq-selectbox__dropdown ul{
  background-color: #fbfbfb;
  width: 270px;
  padding-left: 0;
  padding-bottom: 5px;
  margin-left: -5px;
  margin-top: 5px;
}
.dropdown:after {
  width: 0;
  height: 0;
  border: none;
}

.filter-price{
  &__from-to{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 33px;
    @extend %rubik-500;   
  }
  &__from,
  &__to{
    padding-left: 10px;
    padding-right: 25px;
    position: relative;
    &::before{
      position: absolute;
      content: "$";
      left: 0;
    }
    &::after{
      position: absolute;
      content: ".00";
      right: 0;
    }
  }
}
.irs--flat{
  height: 30px;
}
.irs--flat .irs-line {
  top: 6px;
  height: 3px;
  background-color: #dfe7ec;
  border-radius: 0;
}
.irs--flat .irs-bar {
  top: 6px;
  height: 3px;
  background-color: $btn;
}
.irs-from, 
.irs-to,
.irs-single{
  display: none;
}
.irs--flat .irs-min,
.irs--flat .irs-max{
  display: none;
}
.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: $btn;
}
.irs--flat .irs-handle>i:first-child {
  display: none;    
} 

.filter-brand{
  &__label{    
    display: block;
    cursor: pointer;
    &:last-child{
      margin-bottom: 5px;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #edf1f4;
      border-radius: 5px;
    }
  }
  &__checkbox{
    background-color: #fff;
    color: $default;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
  }
}

.recent-products{
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
  }
  &__img-box{
    width: 70px;
    height: 70px;
    border: 2px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content{
    color: #333;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title{
    font-size: 14px;
    color: $title;
  }
  &__slider{
    .star{
      text-align: center;
    }
  }
  .star-filter{
    padding: 5px 0;
  }
  &__num{
    display: block;
  }  
}

.products__filter-btn{
  display: none;
}

.products-content{
  width: 100%;
  margin-left: 15px;
  &__inner{
    display: flex;
    flex-wrap: wrap;
  }
  .categories__item{
    width: 270px;
    margin:0 15px 40px;
  }
}

.categories__item.categories__item--list .categories__item-title {
  text-align: left;
}

.product-page{
  padding-top: 120px;
}
.product-one{
  &__inner{
    display: flex;
  }
  &__slide{
    //width: 530px;
    margin-right: 65px;
  }
  &__content{
    padding-top: 30px;
    max-width: 550px;
  }
  &__title{
    margin-bottom: 20px;
    font-size: 40px;
    @extend %dmsans-400;
    color: $title;
  }
  .star{
    display: block;
    margin-bottom: 35px;
    margin-left: -3px;
  }
  &__box{    
    margin-bottom: 30px;
  }
  &__price{
    display: flex;
    font-size: 30px;
    color: $title;
  }    
  &__item-text{
    color: #334c59;
    margin-bottom: 30px;    
  }
  &__item-btn{
    background-color: #a3bbc8;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 40px;
    margin-left: 15px;
    &:hover{
      color: $title;
      background-color: $btn;
    }
  } 
  &__item-form{
    margin-bottom: 50px;
  }
}

.jq-number{
  padding: 0;
  position: relative;
}
.jq-number__field {
  width: 146px;  
  border: 1px solid $btn;
  border-radius: 0;  
}
.jq-number__field input {
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  font-size: 16px;
  @extend %dmsans-500;
  color: $title;
  text-align: center;
}
.jq-number__spin{
  position: absolute;  
  cursor: pointer;
  width: 49px;
  height: 49px; 
  border: transparent; 
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}
.jq-number__spin.plus{
  right: 1px;
  top: 1px;
  border-left: 1px solid $btn;
}
.jq-number__spin.minus{
  left: 1px;
  top: 1px;
  border-right: 1px solid $btn;
}
.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 9px;
  height: 1px;
  border: none;
  background-color: $title;
  border: none;    
}
.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 50%;
  height: 9px;
  width: 1px;
  background-color: $title;
  border: none;    
}
.jq-number__spin.minus:after {
  top: 50%;
  border: none;    
}
.product-info{
  &__item{
    display: flex;
    color: #334c59;
    line-height: 26px;
    margin-bottom: 5px;
  }
  &__text{    
    margin-left: 5px;
    a{
      color: #334c59;
    }
  }
}

.product-slide{ 
  .slick-vertical .slick-slide {  
    height: 160px;
    margin-bottom: 25px;
  } 
  &__thumb-item{
    margin-bottom: 25px;
    width: 140px;
    height: 160px;
    cursor: pointer;
    border: 1px solid #f2f2f2;    
  }
  &__thumb{
    width: 140px;
    margin-right: 25px;
    float: left;
    &:last-child{
      margin-bottom: 0;
    }    
  }  
  &__thumb-img{
    padding: 5px;
    width: 140px;
    height: 140px;
    object-fit: contain;
  }
  &__big{
    height: 530px;
    width: 380px;
    float: left;
    border: 1px solid #f2f2f2;    
  }
  &__big-img{
    width: 100%;
    height: 100%;
    padding: 50px 65px;
    object-fit: contain;
  }
}

.product-tabs{
  padding-top: 80px;
  &__filter-btn{
    text-align: center;
    margin-bottom: 40px;
  }
  &__btn{
    width: 240px;
    padding: 15px 0;
    background-color: #edf1f4;
    font-size: 18px;
    @extend %dmsans-700;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    &:hover{
      color: #fff;
      background-color: #a3bbc8;
    }
  }
  &__item{
    display: none;
  }
  &__item--active{
    display: block;
  }
  &__btn--active{
    border: 1px solid $default;
  }
}

.related-products{
  padding-top: 120px;
  &__title{    
    margin-bottom: 60px;
  }
  &__slider{
    margin-left: -8px;
  }
  .categories__item{
    max-width: 270px; 
    margin: 15px 20px; 
    text-align: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);  
  }  
  .categories__item-img{
    margin: 25px auto 0 auto;
    min-height: 225px;
    object-fit: none;
  }
  .categories__wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .star{
    margin-left: 60px;
  }
  .interaction{
    margin-left: 35px;
    margin-bottom: 15px;
  }
  .slick-prev,
  .slick-next {
    border: 1px solid #edf1f4;    
    border-radius: 5px;
    background-color: transparent;
    padding: 20px 12px;
    cursor: pointer;
    position: absolute;
    top: -100px;
    right: 0;
    &:hover{
      border: 1px solid $btn;
    }
  }
  .slick-prev {
   right: 70px;
  }  
}

.blog-page{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    width: 830px;
    margin-right: 70px;
  }
  &__aside{
    width: 270px;
  }
  &__item{
    margin-bottom: 50px;     
  }
  &__img-box{
    position: relative;
    margin-bottom: 35px;
  }
  &__title-link,
  &__img-link{
    display: block;
    color: inherit;
    font-family: inherit; 
    font-size: inherit;    
  }  
  &__img{
    max-width: 830px;
    height: 500px;
    object-fit: cover;
    display: block;
  }
  &__item-box{
    padding-right: 20px;
  }
  &__item-title{
    color: $title;
    @extend %dmsans-500;
    font-size: 36px;
    margin-bottom: 30px;    
  }
  &__item-text{
    margin-bottom: 30px;
  }
  &__item-link{
    display: block;
    width: 180px;
    color: $btn;
    border: 1px solid $btn;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    background-color: #fff;    
    padding: 20px 80px 20px 20px;
    transition: all .3s;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/blog-btn.svg');
      top: 50%;
      right: 20px;
      width: 22px;
      height: 9px;
      transform: translateY(-5px);
    }
    &:hover{
      background-color: #edf1f4;    
    }
  }

  &__aside{
    .filter-search,
    .filter-category{
      margin-bottom: 55px;
    }
    .filter__title{
      margin-bottom: 20px;
    }
  }
  .pagination-blog{
    justify-content: start;
    padding: 25px 0 0;
    margin-left: -7px;
  }   
}

.filter-search{  
  &__form{
    display: flex;
    position: relative;
  }
  &__input{
    border: 1px solid #edf1f4;
    border-radius: 5px;
    height: 40px;
    padding: 0 60px 0 15px;
    width: 270px;
  }
  &__btn{
    position: absolute;
    border: 1px solid #edf1f4;    
    background-color: #edf1f4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40px;
    width: 50px;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
      border: 1px solid $btn;    
      background-color: $btn;
    }
  }
}

.blog-box{
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 275px;
  height: 70px;
  background-color: $btn;
  color: #fff;
  @extend %rubik-700;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 30px;
  &__date,
  &__autor{
    padding-left: 23px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      left: 0;
      top: 6px;
      background-image: url('../images/icons/calendar-wite.svg');
    }
  }
   &__autor{
    color: #fff;
    &::before{ 
      background-image: url('../images/icons/user-icon.svg');
    }
  }
}

.recent-post{    
  &__item{
    margin-bottom: 20px;
    display: flex;    
  }
  &__img-link{
    display: block;
    margin-right: 20px;
    min-width: 71px;
  }
  &__img{
    width: 71px;
    height: 71px;
    object-fit: cover;
  }
  &__box{
    padding-right: 5px;
  }
  &__title-link{
    @extend %dmsans-400;
    font-size: 14px;
    color: $title;
    line-height: 20px;
    margin-bottom: 5px;
  }
  &__date{
    color: #9a9a9a;
    font-size: 12px;
    line-height: 30px;
    padding-left: 26px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      left: 0;
      top: 5px;
      width: 16px;
      height: 16px;
      background-image: url('../images/icons/calendar.svg');
    }
  }
}

.blog-one{
  &__box-text{
    margin-bottom: 60px;
    h4{
      color: $title;
      font-size: 36px;
      @extend %dmsans-500;
      margin: 30px 0 30px;
    }
    h6{
      @extend %dmsans-700;
      color: $title;
      font-size: 16px;
      margin-bottom: 30px;
    }
    h5{
      @extend %dmsans-700;
      color: $title;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    p{
      margin-bottom: 35px;
    }
    blockquote{
      background-color: #edf1f4;
      border-left: 3px solid $btn;
      color: $title;
      @extend %myriadpro-400;
      font-size: 16px;
      line-height: 30px;
      padding: 20px 20px 20px 40px;
      margin: 45px 0;
      span{
        display: block;
        margin: 10px 0;
        padding-left: 40px;
        position: relative;
        &::before{
          position: absolute;
          content: '';
          height: 2px;
          width: 20px;
          background-color: $btn;
          left: 2px;
          top: 14px;
        }
      }
    }   
  } 
  &__text-rigth{
    padding-top: 25px;
  } 
  &__left-img{
    float: left;
    width: 320px;
    height: 210px;
    object-fit: cover;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  &__right-img{
    float: right;
    width: 320px;
    height: 210px;
    object-fit: cover;
    margin-left: 30px;
    margin-bottom: 10px;
  }  
  &__info{
    display: flex; 
    margin-bottom: 20px;   
  }
  &__info-link{
    margin-right: 30px;
    padding-left: 28px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      background-image: url('../images/icons/calendar.svg');
    }    
  }
  &__info-link--comment::before{
    top: 2px;
    background-image: url('../images/icons/comment.svg');
  }
  &__info-link--author::before{
    background-image: url('../images/icons/user-accent.svg');
  }
  .comments-form{
    border-bottom: none;
  }
  &__box{
    padding: 25px 0;
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
  }  
  &__author{
    display: flex;
  }
  &__author-info{
    padding-top: 10px;
  }
  &__author-img{
    width: 75px;
    height: 75px;
    margin-right: 25px;
    object-fit: cover;
  }
  &__author-name{
    margin-bottom: 5px;
    font-size:18px;
    @extend %rubik-700;
    color: $title;
  }
  &__tags,
  &__share{
    span{
    @extend %rubik-500;
    color: $title;
    margin-right: 5px;
    }    
  }
  &__tags a{
    margin-left: 10px;
    color: $btn;
  }
  &__share{
    a{
      margin-right: 12px;
      vertical-align: middle;
      &:hover{
        path{
          fill: $default;
        }
      }
      path{
        fill: $btn;
      }
    }
  }
  &__form-title{
    padding: 40px 0;
    font-size: 24px;
    color: $title;
  }   
}

.comments-form{
  &__box-input{
    display: flex;
    justify-content: space-between;  
  }
  &__text-input{
    display: inline-block;
  }
  
  &__box-input--name{
    position: relative;
    &::after{
    right: 20px;
    top: 15px;
    position: absolute;
    content: '';
    background-image: url('../images/icons/man.svg');
    width: 14px;
    height: 13px;
    }
  }
  &__box-input--mail{
    position: relative;
    &::after{
      width: 18px;
      height: 12px;      
      background-image: url('../images/icons/mail.svg');
      right: 20px;
      top: 15px;
       position: absolute;
      content: '';
    }
  }
  
  &__textarea-box{
    position: relative;
    &::after{
      position: absolute;
      content: '';
      background-image: url('../images/icons/post.svg');
      width: 18px;
      height: 15px;
      right: 20px;
      top: 20px;
    }
  }
  &__text-input,
  &__textarea{
    padding: 18px 45px 18px 18px;    
    border: 1px solid #ebebeb;
    &:hover{
      border: 1px solid $title;
      color: $title;
    }    
  }
  &__text-input{
    height: 48px;
    width: 400px;
    margin-bottom: 20px;
  }
  &__textarea{
    margin-bottom: 40px;
    width: 100%;
    height: 120px;
    resize: none;
  }
  &__btn{   
    background: $btn;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s; 
    border: none;
    width: 190px;
    height: 50px;   
    &:hover{
      background: $default;
    }   
  }
}

.comments-title{
  margin-bottom: 55px;
  font-size: 24px;
  @extend %rubik-700;
  color: $title
}

.comments{
  margin-bottom: 30px;
  display: flex;
  border-bottom: 2px solid #ebebeb;
    
  &__img{
    min-width: 100px;
    height: 100px;
    margin-right: 30px;
    overflow: hidden;
    object-fit: cover;
  }
  &__content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  &__content-name{
    color: $title;
    @extend %rubik-700;
  }
  &__content-data{
    padding-left: 16px;
    position: relative;    
  }
   
  &__content-text{
    margin-bottom: 20px;
  }
  &__content-link{
    display: inline-block;
    padding-right: 20px;
    color: $title;
    @extend %rubik-500;
    position: relative;
    margin-bottom: 25px;
    &::before{
      content: '';
      position: absolute;
      right: 0;
      top: 5px;
      width: 15px;
      height: 17px;
      background-image: url('../images/icons/arrow-right.svg');
    }    
  }  
  &:nth-child(even){
    margin-left: 130px;      
    border-bottom: none;    
    .comments__content{
      border-bottom: 2px solid #ebebeb;
    }
  }
  &:last-child{      
    border-bottom: none;    
    .comments__content{
      border-bottom: none;
    }
  }
}






@import 'media';