.accessories{
  padding-top: 100px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    background-color: #feefe2;
    padding: 95px 10px 0 140px;
    width: 50%;
  }
  &__item + .accessories__item{
    margin-left: 30px;
    padding-right: 10px;
    &__text{
      padding-right: 10px;
    }
  }
  &__img{
    margin-top: -190px;
    margin-bottom: 83px;
  }
  &__content{
    margin-left: 20px;
    max-width: 345px;
  }
  &__content-rigth{
    margin-left: 50px;
  }
  &__title{
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    max-width: 245px;
    margin-bottom: 25px;
    line-height: 30px;
  }
  &__text{
    max-width: 340px;
    margin-bottom: 35px;
  }
  &__link{
    display: inline-block;
    background-color: #feefe2;
    border: 1px solid #b3b7b5;
    color: #436372;
    width: 180px;
    border-radius: 5px;
    padding: 20px 75px 20px 25px;
    transition: all .3s;
    &::after{
      content: url('../images/arrows-black.svg');
      top: 21px;
    }
    &:hover{
      background-color: #fcd7b6;    
    }
  }
}

@media (max-width: 1755px){  
  .accessories{
    &__content{
      margin-left: 20px;
    }    
    &__item{    
      padding: 95px 5px 20px 50px;  
    }
    &__item + .accessories__item{
      margin-left: 10px;
    }
  }   
}

@media (max-width: 1260px){  
  .accessories{
    padding-top: 60px;
    &__inner{
      flex-direction: column;
    }
    &__content{
      margin-left: 40px;
    }    
    &__item{    
      padding: 95px 5px 10px 150px;
      width: 100%; 
    }
    &__item + .accessories__item{
      margin-left: 0;
      margin-top: 150px;
    }
  }   
}

@media (max-width: 760px){  
  .accessories{    
    &__content{
      margin-left: 10px;
    }    
    &__item{    
      padding: 95px 5px 10px 20px;
      width: 100%; 
    }
  }   
}

@media (max-width: 600px){  
  .accessories{
    &__img{
      display: none;
    }    
    &__content{
      margin-left: 0;
    } 
    &__text{
      font-size: 15px;
    }   
    &__item{    
      padding: 30px 0 25px 0;
      width: 100%; 
    }
    &__item + .accessories__item{
      margin-top: 10px;
    }
  }   
}