<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/terms-conditions.min.css">
</head>
<body>
  {% include 'app/module/_header/_header.html' %}
  <main class="main">
    <section class="top">
      <div class="container">
        <h2 class="top__title">Terms & Conditions</h2>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">
                Home
              </a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">
                Terms & Conditions
              </a>
            </li>            
          </ul>
        </div>
      </div>
    </section>

    <section class="personal-inform">
      <div class="wrapper">
        <h4 class="personal-inform__title">
          Types of Personal Information We Collect
        </h4>
        <ol class="personal-inform__lists">
          <li class="personal-inform__list">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="personal-inform__list">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="personal-inform__list">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </li>
          <li class="personal-inform__list">
            Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </li>
          <li class="personal-inform__list">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </li>
        </ol>
        <h4 class="personal-inform__title">
          How marketpmss.com Collects Personal Infonnation
        </h4>
        <p class="personal-inform__text">
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore
        </p>
        <h4 class="personal-inform__title">
          How marketprosscom Uses Personal Information
        </h4>
        <p class="personal-inform__text">
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore
        </p>
      </div>
    </section>

    <section class="blog">
      <div class="wrapper">
        <div class="blog__inner">
          <div class="blog__top">
            <h4 class="blog__title">Our Insights & Articles</h4>
            <a class="blog__link" href="#">View All</a>
          </div>
          <div class="blog__items">
            <div class="blog__item blog__item--news">
              <div class="blog__item-box">
                <img class="blog__item-images" src="images/blog/1.jpg" alt="images blog">
              </div>
              <a class="blog__item-link" href="#">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </a>
              <div class="blog__item-inform">
                <p class="blog__item-inform-data">28 JANUARY, 2020</p>
                <a class="blog__item-inform-autor" href="#">BY ADMIN</a>
              </div>
            </div>
            <div class="blog__item blog__item--news">
              <div class="blog__item-box">
                <img class="blog__item-images" src="images/blog/1.jpg" alt="images blog">
              </div>
              <a class="blog__item-link" href="#">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </a>
              <div class="blog__item-inform">
                <p class="blog__item-inform-data">28 JANUARY, 2020</p>
                <a class="blog__item-inform-autor" href="#">BY ADMIN</a>
              </div>
            </div>
            <div class="blog__item blog__item--news">
              <div class="blog__item-box">
                <img class="blog__item-images" src="images/blog/1.jpg" alt="images blog">
              </div>
              <a class="blog__item-link" href="#">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </a>
              <div class="blog__item-inform">
                <p class="blog__item-inform-data">28 JANUARY, 2020</p>
                <a class="blog__item-inform-autor" href="#">BY ADMIN</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="clients">
      <div class="wrapper">
        <ul class="clients__links">
          <li class="clients__item">
            <img src="images/clients/1.png" alt="client logo">
          </li>
          <li class="clients__item">
            <img src="images/clients/2.png" alt="client logo">
          </li>
          <li class="clients__item">
            <img src="images/clients/3.png" alt="client logo">
          </li>
          <li class="clients__item">
            <img src="images/clients/4.png" alt="client logo">
          </li>
          <li class="clients__item">
            <img src="images/clients/5.png" alt="client logo">
          </li>
        </ul>
      </div>
    </div>
  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>
</html>