.footer{
  color: #919191;
  font-size: 14px;
  line-height: 32px;
  @extend %rubik-400;
}
.footer-top{
  padding: 80px 0 72px;
  display: flex;
  &__contact{
    width: 200px;
    margin-right: 100px;
  }
  &__nav{
    width: 200px;
    margin-right: 100px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__logo{
    margin-bottom: 22px;
    display: block;
    color: #919191;
  }
  &__adress{
    line-height: 21px;
  }
  &__adress,
  &__email,
  &__phone{
    display: inline;
    color: #919191;
  }
  &__contact-box{
   margin-top: 14px;
  }
  &__span-contact{
    text-transform: uppercase;
  }
  &__title-form,
  &__title{
    color: #1f2044;
    @extend %dmsans-700;
    line-height: 21px;
    font-size: 16px;
    padding-top: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &__title{
    pointer-events: none;
  }
  &__link{
    margin-bottom: 14px;
    display: block;
    color: #919191;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__form-input{
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 10px;    
    &::placeholder{
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
  }
  &__form-btn{
    background-color: $btn;
    border: none; 
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    color: #fff;
    padding: 15px;
    transition: all .3s;
    &:hover{
      background-color: #234969;
      color: #fef7f0;
    }
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  border-top: 1px solid #dae4e9;
}
.footer-menu{
  display: flex;
  &__span{
    margin: 0 15px;
  }
  &__link{
    color: #919191;
  }
}

@media (max-width: 1150px){
  .footer-top{
    &__item {
      margin-right: 40px;
    }  
    &__contact{
      width: 220px;
    }
  }
}

@media (max-width: 980px){
  .footer-top{
    flex-wrap: wrap;
    &__item-form{
      max-width: 100%;
      margin-top: 30px;
    }
  }
}

@media (max-width: 775px){
  .footer-top{
    &__contact{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    &__phone,
    &__email{
      width: 270px;
    }
  }  
  .footer-menu__span {
    margin: 0 5px;
  }
}

@media (max-width: 620px){
  .footer-top{
    &__list{
     display: none;
    }
    &__title{
      pointer-events: auto;
      position: relative;
      padding-right: 5px;
      &::after{
        position: absolute;
        content: '';
        top: 14px;
        right: 90px;
        width: 15px;
        height: 20px;
        background-image: url('../images/icons/angle.svg');
        transform: rotate(0deg);
      }    
    } 
    &__list--active{
      &::after{      
       transform: rotate(180deg);
      }
    } 
  }   
  .footer-bottom{
    flex-direction: column;
    &__copy{      
      width: 100%;
      margin-bottom: 15px;
      text-align: center;
    }    
  }
  .footer-menu{
    justify-content: center;
  } 
}

@media (max-width: 450px){
  .footer-top{
    &__nav{
      margin-top: 30px;
    }
    &__form{
      flex-wrap: wrap;
    }
    &__form-input{
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__form-btn{
      width: 100%;
    }
  }  
}