.clients{
  background-color: #fef7f0;
  &__links{
    height: 435px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
  }
  &__item{
    margin-top: 170px;
  }
}
.clients--modified{
  .clients__links{
    height: 250px;
  }  
  .clients__item{
    margin-top: 0;
  }
}

@media (max-width: 860px){
  .clients{
    &__links{
      height: 250px;
      flex-wrap: wrap;
    }  
    &__item{
      margin-bottom: 20px;
      margin-top: 0;
      width: 30%;

    }
  }
}

@media (max-width: 450px){
  .clients{ 
    padding-top: 10px;
     &__links{      
      height: 330px;
      flex-wrap: wrap;
    } 
    &__item{

      width: 45%;
    }
  }
}