.clients{
  background-color: #fef7f0;
  &__links{
    height: 435px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
  }
  &__item{
    margin-top: 170px;
  }
}
.clients--modified{
  .clients__links{
    height: 250px;
  }  
  .clients__item{
    margin-top: 0;
  }
}