.about-us{
  padding: 120px 0;
  &__inner{
    display: flex;
    align-items: center;
  }
  &__img{
    max-width: 570px;
    object-fit: cover;
    margin-right: 40px;
  }
  &__years{
    display: flex;
    margin-bottom: 50px;
  }
  &__years-num{    
    @extend %rubik-700;
    font-size: 140px;
    color: $btn;
    margin-right: 30px;
  }
  &__years-text{
    width: 100px;
    line-height: 30px;
    margin-top: -20px;;
  }
  &__title{
    font-size: 36px;
    @extend %dmsans-700;
    margin-bottom: 40px;
  }
  &__text{
    line-height: 30px;
    margin-bottom: 55px;
    max-width: 560px;
  }
  &__achievement{
    display: flex;
    border-top: 1px solid #e6eaf0;
    max-width: 510px;
    padding-top: 35px;
  }
  &__achievement-item{    
    display: flex;
    align-items: center;
  }
  &__achievement-item + .about-us__achievement-item{
    margin-left: 45px;
  }
  &__achievement-box{
    margin-left: 15px;    
     margin-top: 10px;   
  }
  &__achievement-num{
    font-size: 36px;
    @extend %dmsans-700;
  }
  &__achievement-name{
    color: #4c4c4c;
    @extend %dmsans-700;
  }
}

.benefits{
  background-color: #fcd7b6;
  padding: 85px 0 85px;
  &__links{
    display: flex;
    justify-content: space-around;
    align-items: center;    
  }
  &__item-box{
    height: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__item-num{
    font-size: 36px;
    @extend %dmsans-700;
  }
  &__item-text{
    font-size: 18px;
    color: #243f4d;
    @extend %dmsans-700;
  }
}

.team{
  padding: 115px 0 80px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 300px;
    width: 100%;
  }
  &__title{
    font-size: 36px;
    @extend %dmsans-700;
    margin-bottom: 35px;
  }
  &__text{
    line-height: 30px;
    margin-bottom: 35px;    
  }
  &__link{
    padding: 15px 60px 15px 20px;
    background: $btn;
    color: #fff;
    border-radius: 5px;
    position: relative;
    &::after{
      position: absolute;
      content: url('../images/arrows.svg');
      right: 20px;
    }    
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 30px;
  }
  &__item{
   position: relative;
  }
  &__img{
    object-fit: cover;
  }
  &__box{
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 325px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    position: absolute;
    bottom: -75px;
  }
  &__name{
    @extend %dmsans-700;
    color: #436372;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 12px;
  }
  &__position{
    color: #565872;
    line-height: 30px;
  }
  &__social{
    display: flex;
  }
  &__social-link + .team__social-link{
    margin-left: 8px;
  } 
}


@media (max-width: 1150px){
  .about-us{
   padding: 60px 0; 
   &__inner{
     flex-direction: column;
   }
   &__img{
     margin-right: 0;
     max-width: 100%;
     width: 100%;
     margin: 0 30px 40px;
     display: block;
   }
   &__content,
   &__text,
   &__achievement{
     width: 100%;
     max-width: 100%;
   }
   &__text{
     margin-bottom: 30px;
   }
   &__years{
     padding-top: 30px;
     margin-bottom: 30px;
   }
   &__title{
     line-height: 40px;
   }
   &__years-num{
     font-size: 135px;
   }
  }
  .team{
    padding: 70px 0;
    &__inner{
      flex-direction: column;
    }
    &__content{
      max-width: 100%;
      margin-bottom: 45px;
    }
  }
}

@media (max-width: 860px){
  .benefits{
    padding: 50px 0 10px;
    &__links{
      flex-wrap: wrap;
    }
    &__item{
      width: 50%;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 760px){
  .team{
    &__box{
      padding: 15px 5px;
      bottom: -45px;
    } 
    &__items{
      grid-gap: 90px 20px;
    }   
  }
}

@media (max-width: 600px){
  .about-us{    
    &__achievement-num{
      font-size: 32px;
    }
    &__img{
     height: 340px;
   }    
  } 
  .about-us__achievement-item + .about-us__achievement-item {
    margin-left: 30px;
  } 
  .team{
    &__img{
      width: 100%;
    } 
    &__items{
      grid-template-columns: repeat(1, 1fr);
    }   
  }
}

@media (max-width: 500px){
  .about-us{
    &__achievement {
     flex-wrap: wrap;
    }
    &__achievement-item{
      margin-bottom: 30px;
      margin-left: 30px;
    }    
  } 
  .benefits{    
    &__item{
      width: 100%;
    }
  }   
}